@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 300;
  src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 600;
  src: url("../fonts/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url("../fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Marcellus";
  src: url("../fonts/Marcellus-Regular.ttf");
}

body {
  @apply font-primary tracking-wide text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary leading-tight font-extrabold;
}

/* h1,
h2 {
  @apply text-4xl md:text-6xl;
} */

.form-input {
  @apply block w-full p-2 border-0 ring-1 ring-inset ring-black focus:ring-2 focus:ring-inset focus:ring-black placeholder:text-gray-400;
}

.content {
  @apply prose-lg prose-p:tracking-wide prose-p:text-lg prose-headings:font-bold prose-p:text-gray-500;
}
