---
// components
import NewsletterForm from "@components/Forms/NewsletterForm.astro";
---

<section id="newsletter" class="group my-12 rounded-sm bg-accent p-2">
  <div class="rounded-sm border-2 border-base-50 bg-accent px-4 py-16 md:px-6">
    <div class="mx-auto max-w-xl">
      <h3 class="w-full text-center text-2xl font-light md:text-3xl">
        Join our family
      </h3>
      <p class="description mt-6 text-pretty text-center text-sm md:text-base">
        Join the newsletter and be first to hear about new articles, events, and
        more!
      </p>
      <NewsletterForm name="newsletter-cta" />
      <!-- <p class="description mt-3 text-center text-xs">
        I won't send you spam. Unsubscribe at any time.
      </p> -->
    </div>
  </div>
</section>
