---
import edwinaDebs from "@images/dallas-photographer-edwina-debebs.jpeg"
import Base from "@layouts/Base.astro"
import { Image } from "astro:assets"
---

<Base title='About Us' description='About itsashade'>
    <section class="m-auto px-40">
        <Image class=" object-fill h-32 w-10" src={edwinaDebs} alt="Dallas Photographer Edwina Debebs"/>
    </section>
</Base>

