---
// layout
import BaseLayout from "@layouts/BaseLayout.astro"

// components
import Button from "@components/Button/Button.astro"
import Newsletter from "@components/Cta/NewsletterLarge.astro"
import Hero from "@components/Hero/HeroSideImage.astro"
import AboutCard from "@components/SidebarCards/AboutCard.astro"
import TagsCard from "@components/SidebarCards/TagsCard.astro"

// utils
import { formatPosts, getAllPosts } from "@js/blogUtils"

// data
import Faq from "@components/Faq/Faq.astro"
import PostCardVertical from "@components/PostCard/PostCardVertical.astro"
import siteData from "@config/siteData.json"

const posts = await getAllPosts();
const recentPosts = formatPosts(posts, { limit: 5 });
---

<BaseLayout title={siteData.title} description={siteData.description}>
  <Hero />
  <div class="site-container mt-10 pb-10">
    <!-- Recent blogs -->
    <div class="md:mt-12">
      <!-- <h2 class="h2 text-center">Recent Blog Posts</h2> -->
      <div class="mt-8 grid gap-10 md:grid-cols-8 lg:grid-cols-11">
        <div class="flex flex-col gap-10 md:col-span-8">
          {
            recentPosts.map((post, idx) => (
              <PostCardVertical
                post={post}
                showDescription={true}
                data-aos="fade-up"
              />
            ))
          }
          <!-- link to all posts -->
          <div class="flex justify-center">
            <Button variant="ghost" arrow="right" href="/blog/"
              >All Posts</Button
            >
          </div>
        </div>

        <div class="hidden flex-col gap-10 lg:col-span-3 lg:flex">
          <AboutCard />
          <TagsCard />
          <!-- <RecentPostsCard /> -->
        </div>
      </div>
    </div>
  </div>
  
  <Faq faqs={[
     {
    q: "Why should we invest in professional family portraits?",
    a: "Professional family portraits capture special moments and create lasting memories. They serve as a visual legacy, documenting the growth and connection of your family over time.",
  },
  {
    q: "How do we prepare for a family portrait session?",
    a: "Coordinate outfits with a cohesive color scheme, considering the location and season. Ensure everyone is comfortable, and consider bringing props or accessories that showcase your family's personality.",
  },
  {
    q: "Where should we have our family portraits taken?",
    a: "Choose a location that holds significance for your family, or opt for a professional studio. Outdoor settings like parks or beaches can provide a beautiful backdrop, while indoor studios offer controlled lighting conditions.",
  },
  {
    q: "What should we wear for a family portrait?",
    a: "Select outfits that coordinate with a harmonious color scheme, avoiding overly vibrant colors or busy patterns. Solid colors, subtle designs, and timeless styles often work well. Comfort is critical, and considering the season and location is essential.",
  },
  {
    q: "How long does a typical family portrait session last?",
    a: "The duration can vary but is generally around 1-2 hours. We want to allow various shots and ensure a relaxed atmosphere, especially with children.",
  },
  {
    q: "What happens if the weather is unfavorable on the day of our outdoor session?",
    a: "We can discuss alternatives, such as rescheduling or finding a suitable indoor location. Flexibility is critical to ensuring a successful photo session.",
  },
  {
    q: "Can we include pets in our family portraits?",
    a: "Absolutely! Pets are considered part of the family and can add a delightful photodynamic. Just let us know in advance so we can plan accordingly.",
  },
  {
    q: "When will we receive our final edited images?",
    a: "The turnaround time for edited images typically ranges from 1 to 4 weeks, depending on the photographer's workload. We prioritize delivering high-quality, carefully edited photos.",
  },
  {
    q: "Can we order prints or additional products?",
    a: "We offer various print sizes and products such as canvases or photo books. We can discuss your preferences during the ordering process.",
  },
  {
    q: "How do you handle children during a photo session?",
    a: "Patience is key! Our photographers are experienced in working with children and will use a combination of prompts, games, and a relaxed approach to capture genuine expressions.",
  },
  {
    q: "What happens if we need to reschedule our session?",
    a: "Life happens, and we understand. We appreciate as much notice as possible for rescheduling, and we'll work with you to find a new suitable date.",
  },
  ]} />
  <Newsletter />
</BaseLayout>
