---
import { navigation } from '@configs/site.json'
import ButtonLink from "./ButtonLink.astro"
---





<section class="mx-auto max-w-5xl space-y-10 px-8 sm:px-12 lg:px-8 xl:px-16">
   <h2 class="text-center text-gray-400">Family, maternity, and newborn photographer in Dallas, TX</h2>
  <div class="space-y-5 text-center">
    <p>
    Howdy! We are itsashade, a photography agency based in Dallas, TX.
    Our family-owned photography agency focuses on stylish, modern family photos.
    </p>
    <p class="">
      We are certainly not another run-of-the-mill photographer and put in the effort to stand out and provide an exceptional experience for each and every family in our care.
      We take pride in our work, and no project is too challenging.
    </p>
    <p>
      In your sessions with us you can expect to have a fun and memorable time.
      We will get to know each and every member of your family and work together to bring that creative side of each member to life.  
    </p>
    <p>
      Your comfort and satisfaction is our top priority. Book a call with us today!
   </p>
  </div>
    <ButtonLink href={navigation["About us"]} text='Hear the full story' className='border-black mx-auto' />
</section>
