---
import work9 from '@images/work9.webp'
import { Image } from "astro:assets"
import ButtonLink from "./ButtonLink.astro"

---




<section >
    <div class="px-5 grid gap-10 grid-cols-1 lg:grid-cols-8 max-w-7xl mx-auto">
    <div class="lg:col-span-2 space-y-5">
        <h4 class=" underline underline-offset-8 text-4xl decoration-slate-100 decoration-2">Blog</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et fugiat aut quae fugit mollitia accusamus veniam earum nesciunt quos rerum cum amet ullam blanditiis ipsa</p>
        <ButtonLink text='Read the blog' />
    </div>
    <div class="lg:col-span-3 group">
        <div class="overflow-hidden h-56">
            <Image class:list={['transition-all relative duration-500 group-hover:scale-125 object-cover object-top h-full']} src={work9} alt={'hello'} /> 
        </div>
        <a href="/" class="divide-x-2 flex py-5">
            <time datetime="2020-03-16" class="mr-7 flex flex-col">
                <span class=" text-7xl">
                    16 
                </span>
                <span class=" text-sm">
                    Jan, 2024
                </span>
            </time>
            <div class="pl-5 flex flex-col justify-between">
                <span class=" text-gray-500 text-xs">Maternity Shoot</span>
                <p class="line-clamp-2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta inventore harum unde aut optio esse earum quae quaerat quis!
                </p>
            </div>
        </a>
    </div>

    <div class=" lg:col-span-3 group">
        <div class="overflow-hidden h-56">
            <Image class:list={['transition-all relative duration-500 group-hover:scale-125 object-cover object-top h-full']} src={work9} alt={'hello'} /> 
        </div>
        <a href="/" class=" divide-x-2 flex py-5">
            <time datetime="2020-03-16" class="mr-7 flex flex-col">
                <span class=" text-7xl">
                    16 
                </span>
                <span class=" text-sm">
                    Jan, 2024
                </span>
            </time>
            <div class="pl-5 flex flex-col justify-between">
                <span class=" text-gray-500 text-xs">Family Potrait</span>
                <p class="line-clamp-2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta inventore harum unde aut optio esse earum quae quaerat quis!
                </p>
            </div>
        </a>
    </div>
    </div>
</section>