---
import type { HTMLAttributes } from "astro/types"

type Props = {
    text?: string
    className?: string
    external?: boolean
    black?: boolean
} & HTMLAttributes<'a'>

const { external, text = 'Book Now', className, black, ...rest } = Astro.props
---

<a aria-label={text} {...rest} {...external ? {'target': '_blank', 'rel': 'noopener noreferrer nofollow'} : {}} class:list={["cursor-pointer uppercase text-xs md:text-sm flex group w-fit border-black items-center overflow-hidden border px-3.5 py-2", {'bg-black text-white': black}, className]}>
    <span class="relative flex items-center">
        <span>
            {text}
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 translate-x-1 duration-300 group-hover:translate-x-2.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
    </span>
</a>