---
import image1 from '@images/work3.webp'
import { getImage } from 'astro:assets'

const imageOne = await getImage({ src: image1 })
const quotes = [
  {
    quote: 'my family looked absolutely stunning in the photos',
  author: 'Chuks Grinage',
},
  {
    quote: "we felt like celebrities during the photo shoot...",
    author: "Jennifer Riley"
  },
  {
    quote: "Edwina was truly incredible; we saw sides of ourselves we didn't know we had and I'm glad we captured it",
    author: 'Stephen Mellanie'
  }
]
---


  <section class="text-center px-1 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-1 text-white">
      {quotes.map(({ quote, author}) => {
          return (
            <div class="bg-cover italic bg-no-repeat h-80 relative flex flex-col justify-center px-10" style={{backgroundImage: `linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(${imageOne.src})`}}}>
                <p class="text-xl">"{quote}"</p>
                <p class="text-sm absolute bottom-5 right-10">- {author}</p>
            </div>
          )
      })
    </div>
  </section>
