



    <section class=" overflow-hidden bg-stone-100 px-6 py-24 lg:py-32 lg:px-8">
        <div class="mx-auto max-w-xl lg:max-w-3xl">
          <figure class="">
            <figcaption class="">
              <img class="mx-auto w-20 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </figcaption>
            <blockquote class="text-center text-xl mt-10 leading-loose sm:text-2xl">
              <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”</p>
            </blockquote>
            <div class=" mt-20 flex items-center flex-col space-y-2 justify-center space-x-3 text-base">
            <div class="font-semibold italic">Judith Black</div>
                <div class="text-gray-600 text-sm italic font-thin">CEO of Workcation</div>
              </div>
          </figure>
        </div>
      </section>