
---
---

<section class=" max-w-7xl px-10 mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 max-w-7xl gap-10">

    <div class="space-y-5 block col-span-1">
      <p class="text-3xl font-extrabold font-secondary">Exceptional photography without fail</p>
      <h2>Experience our agency's unique photo shoot experience</h2>
    </div>

    <div class="space-y-5 col-span-1">
      <p>
        It is essential you are having a great time. You should feel like a start. And we take a unique approach by letting you call the shots on how you want the photo shoot to go. 
      </p>
      <p>
        We want you to think of us as your friends. The photo shoot should leave you feeling relaxed and satisfied. 
      </p>
      <p>
        We focus on you every step of the way. From the initial consultation to the final product, we are here to help you every step of the way.
      </p>
    </div>
      <iframe class='w-full h-full lg:col-span-2 aspect-video border-0 border-none' src="https://www.youtube.com/embed/pq5ySxS9rRo" title="Date Night the movie (Sony A7III, sigma 24-70mm 2.4 DG DN)" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>
