---

const reasons = [
  {
    title: 'Client focused',
    description: 'Each client is unique, and we approach each individual with a tailored perspective. Collaborating closely with you, we strive to craft a personalized experience that aligns precisely with your requirements.'
  },
  {
    title: 'Quality',
    description: 'We are perfectionists at heart and work diligently to maintain a high standard. And the care and attention to detail is reflected in every aspect of our work and interaction with you.'
  },
  {
    title: 'Creative',
    description: "We are genuinely passionate about the art of photography. Whether it's a family portrait or a professional headshot, we can show our clients a side of themselves they have never seen before."
  },
  {
    title: 'We do it all',
    description: "We are industry veterans with a knack for all things photography and videography. We want to help you capture those once-in-a-lifetime moments."
  }
]
---


<section class='mx-auto px-1'>
  <div class="max-w-5xl mx-auto">
    <h2 class="text-center text-3xl">Why choose us over other Dallas photographers?</h2>
    <p class="text-center mt-5">
      Choosing a photographer to work with is a big decision. We want to make sure you feel confident in your choice. Here are a few reasons we should be your go-to in Dallas, TX.
    </p>
  <ol role="list" class="w-fit space-y-5 mt-20 list-none p-0  mx-auto">
    {reasons.map(({ title, description}) => {
      return (
      <li class='flex items-center'>
         <div class='space-y-5'>
            <h3 class=" text-3xl font-extrabold">{title}</h3>
            <p>{description}</p>
          </div>
      </li>
      ) 
    })
    }
  </ol> 
  </div>
</section>

<style>
li {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: 1rem;
	width: calc(100% - 2rem);
}

li::before {
	counter-increment: list-item;
	content: counter(list-item);
	font-size: 3rem;
	width: 2em;
	height: 2em;
	background: black;
	flex: 0 0 auto;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

li:nth-child(even) {
	flex-direction: row-reverse;
}

li:nth-child(even) {
  text-align: right;
}
</style>


